.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    width: 3rem;
    height: 3rem;
  }
  h2 {
    display: flex !important;
    align-items: center !important;
    margin-bottom: 0 !important;
    font-size: 2rem;
    color: white;
    display: inline-block;
    margin-left: 1rem;
  }
  span {
    font-size: 5rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    a {
      width: 5rem;
      height: 5rem;
    }
    h2 {
      font-size: 4rem;
    }
    span {
      font-size: 5rem !important;
    }
  }
}

.text-primary {
  color: $primary3 !important;
}
